apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: Sovereign Data Vault Layer
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: Sovereign Data Vault Layer
