[submodule "external/Cerberus"]
	path = external/Cerberus
	url = https://github.com/IAmSoThirsty/Cerberus

# The_Triumvirate Web Frontend (To be activated when repository is available)
# Uncomment and run: git submodule add https://github.com/IAmSoThirsty/The_Triumvirate.git web/triumvirate
# [submodule "web/triumvirate"]
# 	path = web/triumvirate
# 	url = https://github.com/IAmSoThirsty/The_Triumvirate.git
# 	branch = main
