# ==============================================================================
# Grafana Datasource Provisioning - Automatic Setup
# ==============================================================================

apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    version: 1
  
  # Loki datasource for logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
    version: 1
  
  # Postgres datasource for direct queries
  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: project_ai
    user: project_ai
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      postgresVersion: 1600
      timescaledb: false
    editable: false
    version: 1
