apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: Distributed Reputation & Trust Graph Engine
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: Distributed Reputation & Trust Graph Engine
