apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: Autonomous Compliance-as-Code Engine
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: Autonomous Compliance-as-Code Engine
