name: Android CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "**/*.gradle*"
      - "**/gradle-wrapper.properties"
      - "gradle/**"
      - "gradlew"
      - "gradlew.bat"
      - "android/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "**/*.gradle*"
      - "**/gradle-wrapper.properties"
      - "gradle/**"
      - "gradlew"
      - "gradlew.bat"
      - "android/**"

jobs:
  build:
    if: ${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', 'gradlew', 'android/**') != '' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
